@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  @apply flex min-h-screen p-4 bg-gray-900;
}

.button {
  @apply border-2 rounded-lg py-3 px-12 font-bold w-full text-white bg-blue-600 hover:bg-blue-700;
}

textarea {
  @apply w-full h-[600px] p-4 text-black rounded-lg;
}

.error {
  @apply text-red-500;
}

.claim-container {
  @apply p-4 my-4 border rounded-lg bg-gray-800 text-white;
}

.citation {
  @apply text-yellow-400;
}

.link {
  @apply text-blue-300 underline;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}